/* Tablet */
@media only screen and (min-width: 1025px) and (max-width: 1680px) {

    .header {
        top: 3em;
    }

}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {

    .header {
        top: 3em;
    }
}