<div class="header">
  <ul>
    <li *ngFor="let link of navLinks">
      <a
        routerLink="{{ link.path }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ link.label }}
      </a>
    </li>
  </ul>
  <div></div>
</div>
