/* Mobile Devices */
@media only screen and (min-width: 300px) and (max-width: 1024px) {

    .header {
        flex-direction: column;
        position: absolute;
        top: 5em;

        ul {
            li {
                a {
                    font-size: 0.8em;
                }
            }
        }
    }

}