@import '/src/common';

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: absolute;
  top: 5rem;

  div {
    flex: 1;
  }

  ul {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 2em;

    li {
      list-style: none;
      text-align: center;

      a {
        text-decoration: none;
        color: $font-color;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
      }
  
      a:hover {
        color: $active-link-color;
        transition: color 1s;
      }
  
      a.active {
        color: $active-link-color;
      }
    }

  }
}
