/* Tablet */
@media only screen and (min-height: 700px) and (max-height: 800px) {
    .about {

        .left {

            #gmap_canvas {
                width: 70%;
                max-height: 18em;
                margin-bottom: 1rem;
            }

            .name {
                font-size: 1.5em;
            }

            .address,
            .phone-number,
            .schedule {
                margin-bottom: 1em;
            }

        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1680px) {
    .about {

        .left {

            #gmap_canvas {
                border-radius: 10px;
                width: 70%;
                margin-bottom: 1rem;
            }

            .name {
                font-size: 1.5em;
            }

            .address,
            .phone-number,
            .schedule {
                margin-bottom: 1em;
            }

        }
    }
}
@media only screen and (min-width: 1681px) and (max-width: 1920px) {}