<div class="about">
  <div class="left">
    <iframe
      width="825"
      height="411"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      id="gmap_canvas"
      src="https://maps.google.com/maps?width=825&amp;height=411&amp;hl=en&amp;q=MetroSquare%20Iponan%20Cagayan%20de%20oro%20city+(D'flex%20Spa%20Therapy)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>
    <script
      type="text/javascript"
      src="https://embedmaps.com/google-maps-authorization/script.js?id=41ca0d587d143064719c7f327e3f51d258665343"
    ></script>
    <h1 class="name">D'flex Spa Therapy</h1>
    <p class="address">
      Metrosquare Arcade, Zone 2, Iponan, <br />
      (In front of Cambridge Subdivision) <br />
      Cagayan de Oro, Philippines
    </p>
    <p class="schedule">Open daily from 3:00 PM to 12:00 AM</p>
    <p class="phone-number">Call us at 09621582796</p>
  </div>
  <div class="right">
    <img src="../assets/about/about.jpg" />
  </div>
</div>
