@import "/src/common";

.about {
  display: flex;
  height: 100vh;

  > div {
    flex: 1;
  }

  .left {
    background-color: #ebe6e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    #gmap_canvas {
      border-radius: 10px;
    }

    .name {
      font-size: 2em;
      font-family: "Prata", serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      line-height: 2em;
      color: $font-color;
    }

    p {
      font-size: 1em;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      line-height: 1.3em;
      color: $font-color;
    }

    .address,
    .phone-number,
    .schedule {
      margin-bottom: 1em;
    }

  }

  .right {
    background-color: #c79775;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

