/* Mobile Devices */
@media only screen and (min-width: 300px) and (max-width: 1024px) {
    .about {
        height: auto;
        flex-direction: column;

        .left {

            #gmap_canvas {
                border-radius: 10px;
                width: 70%;
                margin-bottom: 1em;
                margin-top: 10em;
            }

            .name {
                font-size: 1em;
            }

            .address,
            .phone-number,
            .schedule {
                font-size: 1em;
            }

            .phone-number {
                margin-bottom: 5em;
            }

        }

        .right {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}