/* Mobile Devices */
@media only screen and (min-width: 300px) and (max-width: 1024px) {

    .services {
        flex-direction: column;
        height: auto;

        .left {
            background-color: #ebe6e0;
            padding-top: 10em;
            padding-bottom: 10em;
            display: flex;
            justify-content: center;

            .services-wrapper {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 2em;
                width: 100%;

                .service {
                    .description {
                        h3, p {
                            font-size: 0.8em;
                            line-height: 1em;
                        }
                    }
                }

            }
        }

        .right {
        
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

}