/* Tablet */
@media only screen and (min-width: 1025px) and (max-width: 1680px) {

    .services {

        .left {
            padding-top: 6em;

            .services-wrapper {
                grid-gap: 1em;

                .service {

                    .image-wrapper {

                        .image {
                            width: 7em;
                            height: 7em;
                        }
                    }

                    .description {
                        h3 {
                            font-size: 1em;
                            line-height: 1em;
                        }

                        p {
                            font-size: 1em;
                            line-height: 1em;
                        }
                    }
                }

            }
        }

    }

}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {

    .services {

        .left {

            .services-wrapper {
                grid-gap: 2em;

                .service {

                    .image-wrapper {

                        .image {
                            width: 10em;
                            height: 10em;
                        }
                    }

                    .description {
                        h3 {
                            font-size: 1.1em;
                            line-height: 1em;
                        }

                        p {
                            font-size: 1.1em;
                            line-height: 1em;
                        }
                    }
                }

            }
        }

    }
}