<div class="services">
  <div class="left">
    <div class="services-wrapper">
      <div class="service" *ngFor="let service of services">
        <div class="image-wrapper">
          <div class="image">
            <img class="fade-in" src="{{ service.image }}" />
          </div>
        </div>
        <div class="description fade-in">
          <h3>{{ service.name }}</h3>
          <p>PHP {{ service.price }} ({{ service.duration }})</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="../assets/services/services.jpg" />
  </div>
</div>
