@import "/src/common";

.services {
  display: flex;
  height: 100vh;

  > div {
    flex: 1;
  }

  .left {
    background-color: #ebe6e0;
    padding-top: 10em;
    padding-bottom: 10em;
    display: flex;
    justify-content: center;

    .services-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns each taking up equal space */
      grid-gap: 1em;
      width: 50%;

      .service {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .image-wrapper {
          display: flex;
          justify-content: center;

          .image {
            border: solid #C89978 5px;
            width: 12em;
            height: 12em;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 1em;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .description {
          h3 {
            font-size: 1.1em;
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-style: normal;
            text-align: center;
            line-height: 1em;
            color: $font-color;
            margin-bottom: 0.5em;
          }

          p {
            font-size: 1em;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            line-height: 1em;
            color: $font-color;
          }
        }
      }

    }
  }

  .right {
    background-color: #c79775;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
