@import "/src/common";

.home {
  display: flex;
  height: 100vh;

  > div {
    flex: 1;
  }

  .left {
    background-color: #ebe6e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 5em;
      font-family: "Prata", serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      line-height: 2em;
      color: $font-color;
    }

    p {
      width: 50%;
      font-size: 1.2em;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      line-height: 1.5em;
      color: $font-color;
    }
  }

  .right {
    background-color: #c79775;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

