/* Tablet */
@media only screen and (min-width: 1025px) and (max-width: 1680px) {

    .home {

        .left {

            .logo {
                width: 15rem;
            }

            h1 {
                font-size: 3em;
            }

            p {
                font-size: 1em;
            }
        }

    }

}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {

    .home {

        .left {

            .logo {
                width: 15rem;
            }

            h1 {
                font-size: 4em;
            }

            p {
                font-size: 1.2em;
            }
        }

    }

}