/* Mobile Devices */
@media only screen and (min-width: 300px) and (max-width: 1024px) {

    .home {
        flex-direction: column;

        .left {
            padding-top: 10em;
            padding-bottom: 3em;

            .logo {
                width: 10rem;
            }

            h1 {
                font-size: 2em;
            }

            p {
                font-size: 0.7em;
            }
        }

    }

}