<div class="home">
  <div class="left">
    <img class="logo" src="../assets/home/logo.png"/>
    <h1 class="fade-in">D'flex Spa Therapy</h1>
    <p class="fade-in">
      Discover the transformative power of massage therapy. Our skilled
      therapists create a serene oasis where stress melts away, tension fades,
      and worries dissipate, leaving you refreshed, revitalized, and ready to
      embrace life to its fullest. Book your session today and experience the
      ultimate relaxation journey!
    </p>
  </div>
  <div class="right">
    <img src="../assets/home/massage.webp" />
  </div>
</div>
